.add-goods-title__wrap {
  padding-top: 25px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 81px;
  }
}

.add-goods__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-goods__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid $very-light-grey;
}

.add-goods__item--border {
  border-bottom: 1px solid $very-light-grey;
}

.add-goods__table-row {
  font-family: $add-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $special-dark-grey;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-goods__table-header {
  font-family: $base-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $special-nero;

  flex-basis: 100%;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.add-goods__order-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;

  background-color: $basic-green;

  display: block;
  width: 100%;
  padding: 7px 10px;

  @media (min-width: $tablet-width) {

  }
}

.add-goods-section__gift {
  background-image: url("../../img/gift-photo-mobile-1.png");
  background-repeat: no-repeat;
  background-size: 280px 289px;

  min-height: 289px;
}

.add-goods-section__gift-promo {
  font-family: $add-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
}
