.catalog-list__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-nero;

  margin: 0;
}

.catalog-list__table-row {
  font-family: $add-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog-list__button {
  font-family: $base-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-white;

  background-color: $basic-green;
}

.catalog-list__show-more-block {
  padding-top: 40px;
}

.catalog-list__show-more-text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-black;

  margin: 0;
  padding: 0;
}

.catalog-list__bottom-text {
  font-family: $add-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
}

.catalog-list__show-more-button {
  font-size: 16px;
  line-height: 16px;
  color: $special-dark-grey;
  text-transform: uppercase;

  background-color: $basic-grey;
}
