.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    padding: 97px 0 105px;
    min-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

.contacts--bg {
  background-color: $basic_grey;
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    min-width: 571px;
    margin: 0;
    padding: 0;
    transform: translateX(110px);
    z-index: 100;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding: 0 41px 59px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 66px 88px 45px 77px;

    background-color: $basic-white;
  }
}

.contacts__content--index {
  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }
}

.contacts__content--catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
    padding-bottom: 44px;
  }
}

.contacts__content--form {
  padding-top: 33px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}

.contacts__invite-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-black;

  margin: 0;
  padding: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    width: 171px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 16px;

    text-align: left;
  }
}

.contacts__address-text {
  font-family: $add-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
  width: 140px;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    width: 159px;
    text-align: right;

    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;

    padding-top: 0;
    padding-bottom: 13px;
  }
}

.contacts__address-text-span {
  @media (min-width: $tablet-width) {
    display: block;

    &:first-of-type {
      margin-bottom: 19px;
    }
  }
}

.contacts__map-container {
  display: flex;
}

.contacts__map {
  width: 100%;
  height: 362px;

  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;

    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
