.contacts--bg {
  background-color: $basic_grey;
}

.contacts__wrapper {
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
  }
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
    top: 95px;
    padding: 66px 76px 51px 89px;

    background-color: $basic-white;
  }
}

.contacts__invite-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $base-black;

  margin: 0;
  padding: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;

    width: 171px;
  }
}

.contacts__address-text {
  font-family: $add-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 159px;
    text-align: right;

    font-size: 16px;
    line-height: 20px;
  }
}
