.contacts {
  padding-top: 28px;
  padding-bottom: 22px;
}

.contacts__invite-text {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $base-black;

  margin: 0;
  padding: 0;
}

.contacts__address-text {
  font-family: $add-font;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
}
