.features__item {
  background-color: $basic-grey;

  padding: 21px 20px 18px;
}

@media (min-width: $tablet-width) {
  .features__item {
    padding: 77px 53px 53px;
    width: 708px;
  }
}

.features__slim-item {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .features__slim-item {
    margin-bottom: 30px;
  }
}

.features__title-wrap {
  padding-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .features__title-wrap {
    padding-bottom: 24px;
  }
}

.features__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: 36px;
    line-height: 36px;
  }
}

.features__desc {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  width: 227px;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .features__desc {
    font-size: 16px;
    line-height: 24px;

    width: 377px;
    margin-bottom: 48px;
  }
}

.features__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-black;
}

@media (min-width: $tablet-width) {
  .features__link {
    font-size: 20px;
    line-height: 30px;
  }
}
