.features__container {
  @media (max-width: $mobile-width-only), (min-width: $tablet-width) {
    width: 100%;
  }
}

.features__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  background-color: $basic-grey;
  background-repeat: no-repeat;

  padding: 30px 20px 18px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 78px 53px 56px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 41px 52px 55px;
  }
}

.features__slim-item {
  margin-bottom: 20px;

  background-image: url("../../img/cat-slim-icon.svg");
  background-position: 22px 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    background-image: url("../../img/cat-slim-big-icon.svg");
    background-position: right 63px top 82px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.features__pro-item {
  background-image: url("../../img/cat-pro-icon.svg");
  background-position: 12px 24px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/cat-pro-big-icon.svg");
    background-position: right 29px top 92px;
  }
}

.features__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  align-self: center;
  padding-left: 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 26px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.features__desc {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  margin-bottom: 15px;
  border-bottom: 1px solid $special-gainsboro;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 28px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.features__desc--slim {
  @media (min-width: $tablet-width) {
    width: 377px;
  }
}

.features__desc--pro {
  @media (min-width: $tablet-width) {
    width: 342px;
  }
}

.features__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.features__arrow-icon-container {
  margin-left: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-bottom: 3px;
  }
}
