.features__container {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.features__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.features__item {
  background-color: $basic-grey;
  background-repeat: no-repeat;

  padding: 30px 20px 17px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 78px 53px 56px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 37px 52px 58px;
  }
}

.features__slim-item {
  margin-bottom: 20px;

  background-image: url("../img/cat-slim-icon.svg");
  background-position: 22px 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    background-image: url("../img/cat-slim-big-icon.svg");
    background-position: right 63px top 82px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 80px;
    margin-bottom: 0;

    background-image: url("../img/slim-cat-back-desk.svg");
    background-position: left 52px top 42px;
  }
}

.features__pro-item {
  background-image: url("../img/cat-pro-icon.svg");
  background-position: 12px 24px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/cat-pro-big-icon.svg");
    background-position: right 29px top 92px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/pro-cat-back-desk.svg");
    background-position: left 33px top 48px;
  }
}

.features__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  align-self: center;
  padding-left: 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 26px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-top: 41px;
    padding-left: 162px;
  }
}

.features__desc {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid $special-gainsboro;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 28px;
    border-bottom: none;
    width: 55%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.features__desc--slim {
  @media (min-width: $tablet-width) {
    min-width: 377px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.features__desc--pro {
  @media (min-width: $tablet-width) {
    min-width: 342px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.features__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-black;

  display: inline-flex;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    align-items: center;
  }
}

.features__link-text {
  margin-right: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.features__link-icon {
  display: flex;
  overflow: hidden;
  width: 32px;
  height: 12px;
}

.features__arrow-icon-container {
  transform: translateX(-4px);
  transition: all 0.3s;
}

.features__link:hover .features__arrow-icon-container {
  transform: translateX(0);
}
