.form__container {
  margin: 0;
  padding: 0;
}

.form__wrap {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin-bottom: 69px;
  }
}

.form__text-input-container {
  border: none;
  margin: auto;
  margin-bottom: 23px;
  min-width: 280px;
  width: 80%;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 74px;
    padding-left: 70px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__radio-container {
  border-left: none;
  border-right: none;
  border-top: 1px solid $special-gainsboro;
  border-bottom: 1px solid $special-gainsboro;
  padding-top: 27px;
  padding-left: 20px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    border: 1px solid $special-gainsboro;
    width: 82%;
    padding-top: 30px;
    padding-bottom: 7px;
    padding-left: 0;
    margin-bottom: 75px;
    margin-left: 71px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.form__contact-container {
  padding-left: 18px;
  min-width: 280px;
  width: 94%;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}

.form__text-input-row-container,
.form__contact-row-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 14px;
}

.form__contact-row-container {
  margin-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: 97%;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__add-info-row-container {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    min-width: 221px;
    margin-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 104px;
  }
}

.form__radio-row-container {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  &--null-indent {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__text-input-row-container {
  @media (min-width: $tablet-width) {
    width: 90%;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;

    &--null-indent {
      margin-bottom: 0;
    }
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text-input-label {
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 19px;
  }
}

.form__contacts-label {
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 17px;
  }
}

.form__feedback-comment-field-container {
  min-width: 280px;
  width: 87%;
  margin: auto;

  @media (min-width: $tablet-width) {
    width: 82%;
  }
}

.form__input,
.form__feedback-comment-field {
  font-family: $base-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;

  &::placeholder {
    color: $special-dark-grey;
  }

  @media (min-width: $tablet-width) {
    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__input[type="text"],
.form__input[type="email"],
.form__input[type="tel"],
.form__feedback-comment-field {
  border: 1px solid $special-lighten-whisper;
  padding: 14px 10px 11px 15px;
  width: 100%;

  &:hover {
    border: 1px solid $very-light-grey;
  }

  &:focus {
    outline: 2px solid $special-dark-grey;
  }
}

.form__input[type="text"] {
  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }
}

.form__input[type="email"] {
  padding: 16px 10px 12px 15px;

  @media (min-width: $tablet-width) {
    padding: 17px 10px 13px 21px;
  }
}

.form__input[type="tel"] {
  padding: 16px 10px 14px 15px;
}

.form__email-input {
  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.form__feedback-comment-field {
  resize: none;
  padding: 9px 10px 14px 13px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 10px 10px 36px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.form__label-radio {
  color: $special-nero;

  position: relative;
  left: 45px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $very-light-grey;
    border-radius: 50%;
    left: -45px;
    top: -5px;
  }

  @media (min-width: $tablet-width) {
    left: 88px;

    &::before {
      width: 40px;
      height: 40px;
      left: -60px;
    }
  }

  &:hover {
    &::before {
      border: 1px solid $darker-silver;
    }
  }
}

.form__input-radio:disabled + .form__label-radio {
  opacity: 0.3;
}

.form__input-radio:checked + .form__label-radio::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  left: -37px;
  top: 3px;

  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    left: -49px;
    top: 5px;
  }
}

.form__contacts,
.form__feedback,
.form__add-info {
  border: none;
  border-top: 2px solid #68b738;
}

.form__contacts {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.form__feedback {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form__add-info {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.form__label-checkbox {
  color: $base-black;

  position: relative;
  left: 46px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid $very-light-grey;
    left: -46px;
  }

  @media (min-width: $tablet-width) {
    left: 59px;

    &::before {
      width: 40px;
      height: 40px;
      left: -59px;
      top: -6px;
    }
  }

  &:hover {
    &::before {
      border: 1px solid $darker-silver;
    }
  }
}

.form__input-checkbox:disabled + .form__label-checkbox {
  opacity: 0.3;
}

.form__input-checkbox:checked + .form__label-checkbox::after {
  content: url("../../img/checked.svg");
  position: absolute;
  width: 18px;
  height: 14px;
  left: -40px;
  top: 8px;

  @media (min-width: $tablet-width) {
    left: -48px;
    top: -1px;
  }
}

.form__section-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  margin: 0;
  margin-bottom: 35px;
  padding-left: 19px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;

    margin-bottom: 72px;
    padding-left: 34px;
  }
}

.form__add-info-section-title {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form__section-title--contacts-block-size {
  width: 221px;
  transform: translateY(9px);
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 589px;
    margin-left: 33px;
    margin-bottom: 75px;
    transform: translateY(0);
  }
}

.form__section-title--feedback-block-size {
  width: 161px;

  @media (min-width: $tablet-width) {
    width: 255px;
    transform: translateY(-4px);
    margin-left: 33px;
  }
}

.form__section-title--add-info-block-size {
  width: 183px;

  @media (min-width: $tablet-width) {
    width: 292px;
    margin-left: 33px;
    transform: translateY(-4px);
  }
}

.form__checkbox-container {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    width: 83%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    column-gap: 123px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.form__for-indent-wrap {
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    padding-right: 104px;
    margin-bottom: 19px;
  }
}

.form__button {
  font-family: $base-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-white;

  background-color: $basic-green;

  border: none;
  min-width: 280px;
  width: 87%;
  padding: 10px 10px;
  margin-bottom: 21px;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    background-color: $basic-green-2;

    color: $basic-shadow-white;
  }

  @media (min-width: $tablet-width) {
    width: 282px;
    padding: 16px 10px;
    margin-right: 61px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 81px;
    margin-bottom: 29px;
  }
}

.form__legend {
  font-family: $add-font;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;

    margin-bottom: 25px;
  }
}
