.form__container {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.form__label--radio-label-color {
  color: $special-nero;
}

.form__label--checkbox-label-color {
  color: $base-black;
}

.form__input {
  @include input();
}

.form__contacts {
  margin-bottom: 27px;
}

.form__feedback {
  margin-bottom: 27px;
}

.form__add-info {
  margin-bottom: 34px;
}

.form__section-title-wrap {
  padding-bottom: 33px;
}

.form__section-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  margin: 0;
}

.form__for-indent-wrap {
  margin-bottom: 32px;
}

.form__button {
  font-family: $base-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-white;

  background-color: $basic-green;

  border: none;
}

.form__legend {
  font-family: $add-font;
  font-size: 14px;
}
