.instructions__container {
  @media (max-width: $mobile-width-only), (min-width: $tablet-width) {
    width: 100%;
  }
}

.instructions__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 32px;
  }
}

.instructions__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 768px;

    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0;
    width: 1220px;
  }
}

.instructions__item {
  position: relative;
  margin-bottom: 23px;
  padding-top: 3px;

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;

    background-repeat: no-repeat;
    background-size: 60px 60px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 280px;
    padding-top: 151px;
    margin-bottom: 37px;

    &::before {
      width: 80px;
      height: 80px;
      top: 40px;

      background-size: 80px 80px;
    }

    @media (min-width: $tablet-width) {
      &::after {
        counter-increment: section;
        content: counter(section);

        font-size: 280px;
        line-height: 280px;
        color: $basic-grey;

        position: absolute;
        top: 0;
        right: 0;
        z-index: -100;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 151px;
  }
}

.instructions__item--leaf {
  &::before {
    background-image: url("../../img/leaf-icon.svg");
  }

  @media (min-width: $tablet-width) {
    margin-right: 139px;

    &::before {
      background-image: url("../../img/leaf-big-icon.svg");
    }

    &::after {
      right: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 103px;

    &::after {
      right: -8px;
    }
  }
}

.instructions__item--tub {
  &::before {
    background-image: url("../../img/tub-icon.svg");
  }

  @media (min-width: $tablet-width) {
    margin-right: 79px;

    &::before {
      background-image: url("../../img/tub-big-icon.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 102px;
  }

  &::after {
    right: -23px;
  }
}

.instructions__item--eat {
  &::before {
    background-image: url("../../img/eat-icon.svg");
  }

  @media (min-width: $tablet-width) {
    margin-right: 139px;

    &::before {
      background-image: url("../../img/eat-big-icon.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 104px;

    &::after {
      right: -25px;
    }
  }
}

.instructions__item--alarm {
  &::before {
    background-image: url("../../img/alarm-icon.svg");
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-image: url("../../img/alarm-big-icon.svg");
    }

    &::after {
      right: -3px;
    }
  }
}

.instructions__text {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    width: 245px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 222px;
  }
}

.instructions__text--alarm {
  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
