.instructions__container {
  @media (max-width: $mobile-width-only), (min-width: $tablet-width) {
    width: 100%;
  }
}

.instructions__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;

    margin-bottom: 32px;
  }
}

.instructions__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    counter-reset: section;
  }
}

.instructions__item {
  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 280px;
    padding-top: 151px;

    @media (min-width: $tablet-width) {
      &::after {
        counter-increment: section;
        content: counter(section);

        font-size: 280px;
        line-height: 280px;
        color: $basic-grey;

        position: absolute;
        top: 0;
        right: 0;
        z-index: -100;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 151px;
  }
}

.instructions__item--indent {
  margin-bottom: 20px;
}

.instructions__text {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 245px;
  }

  @media (min-width: $desktop-width) {
    width: 201px;
  }
}
