.main-nav__list {
  // display: flex;
  // flex-direction: column;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    margin-right: -35px;
    padding-top: 9px;
  }
}

.main-nav__item {
  align-self: center;
}

.main-nav__link {
  @media (max-width: $mobile-width-only) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $base-black;
    text-transform: uppercase;

    background-color: $basic-white;

    display: block;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 24px;
    border-top: 1px solid $special-light-whisper;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 0;
    padding-bottom: 9px;
    margin-right: 35px;
    min-width: auto;

    color: $base-black;
    text-transform: uppercase;

    &--current {
      border-bottom: 2px solid $basic-green;
      padding-bottom: 6px;

      &:hover {
        opacity: 0.6;
        border-bottom: 2px solid $base-black;
      }

      &:active {
        opacity: 0.3;
        border-bottom: 2px solid $base-black;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $basic-white;

    &--form-color {
      color: $base-black;
    }

    &--catalog-color {
      color: $base-black;
    }

    background-color: transparent;

    &--current {
      border-bottom: 2px solid $basic-white;

      &:hover {
        opacity: 0.6;
        border-bottom: 2px solid $basic-white;
      }

      &:active {
        opacity: 0.3;
        border-bottom: 2px solid $basic-white;
      }
    }

    &--form-color-current {
      border-bottom: 2px solid $basic-green;

      &:hover {
        opacity: 0.6;
        border-bottom: 2px solid $base-black;
      }

      &:active {
        opacity: 0.3;
        border-bottom: 2px solid $base-black;
      }
    }

    &--catalog-color-current {
      border-bottom: 2px solid $basic-green;

      &:hover {
        opacity: 0.6;
        border-bottom: 2px solid $base-black;
      }

      &:active {
        opacity: 0.3;
        border-bottom: 2px solid $base-black;
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
