.page-footer {
  background-color: $basic_grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.page-footer__logo-link {
  margin-bottom: 26px;
}

.page-footer__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 280px;
  padding-top: 20px;
  padding-bottom: 11px;
  border-top: 1px solid $special-gainsboro;
  border-bottom: 1px solid $special-gainsboro;
}

.page-footer__socials-item {
  margin-right: 36px;
  margin-bottom: 10px;
}

.page-footer__socials-item--null-indent {
  margin-right: 0;
}

.page-footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__academy-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 22px;
  padding-top: 21px;
}

.page-footer__academy-text {
  font-family: $add-font;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
}
