.page-header--with-background {
  background-image:
    url("../../img/promo-good-b-img.png"),
    url("../../img/promo-trans-b.png"),
    url("../../img/promo-cat-b-img.png");
  background-size:
    280px 270px,
    320px 302px,
    320px 302px;
  background-position:
    center 233px,
    center 66px,
    center 66px;
  background-repeat: no-repeat;

  min-height: 482px;
}

.main-nav__toggle {
  background-color: $basic-white;

  border: none;
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $base-black;

  background-color: $basic-white;
}
