.page-main__features {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.page-main__instructions {
  margin-bottom: 42px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.page-main__instructions-item {
  margin-bottom: 20px;
}

.page-main__review-desc {
  margin-bottom: 25px;
}

.page-main__review-desc-list {
  margin-bottom: 25px;
}

.page-main__review-text {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-main__title-wrap {
  padding-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    margin-bottom: 56px;
  }
}

.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__lead {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    width: 323px;
    margin-bottom: 66px;
  }
}

.page-main__catalog-page-title-container {
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 84px;
  }
}

.page-main__catalog-page-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
