.page-header {
  @media (min-width: $tablet-width) {
    margin-bottom: -28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -50px;
  }
}

.page-header--bg {
  @media (max-width: $mobile-width-only) {
    background-image:
      url("../img/promo-trans-b.png"),
      url("../img/promo-cat-mobile.jpg");
    background-size:
      100vw 302px,
      320px 302px;
    background-position:
      center 66px,
      center 66px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/promo-trans-mb@2x.png"),
        url("../img/promo-cat-mobile@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/promo-trans-b.png"),
      url("../img/promo-cat-desktop.jpg");
    background-size:
      50% 694px,
      720px 694px;
    background-position:
      right 0,
      right 0;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/promo-trans-b@2x.png"),
        url("../img/promo-cat-desktop@2x.jpg");
    }
  }
}

.page-header--nojs {
  @media (max-width: $mobile-width-only) {
    background-position: center bottom 179px, center 265px;
  }
}

.page-header__upper-row-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 24px 30px 27px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 51px 110px;
  }
}

.page-header__upper-row-container--border {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special-gainsboro;
  }
}

.page-header__inner-row-container {
  @media (max-width: $mobile-width-only) {
    position: relative;
  }
}

.page-header__logo-link {
  @media (max-width: $mobile-width-only) {
    display: flex;
    width: 235px;
    align-items: center;
    padding: 14px 20px;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-icon {
  margin-right: 57px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-brand {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-tablet-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header__toggle {
  background-color: transparent;
  cursor: pointer;
  outline-offset: 10px;

  border: none;
  position: absolute;
  width: 19px;
  height: 19px;
  z-index: 10;
  right: 23px;
  top: 22px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggle--opened {
  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      content: "";
      width: 25px;
      height: 1.5px;
      position: absolute;
      right: -4px;

      background-color: $base-black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.page-header__toggle--closed {
  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 1.5px;
      left: -2px;
      top: 2px;

      background-color: $base-black;
      box-shadow:
        0 8px 0 0 $base-black,
        0 16px 0 0 $base-black;
    }
  }
}

.page-header__toggle--nojs {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
