.page-promo {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 13px;
    margin-bottom: -6px;
    padding-left: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-left: 110px;
    margin-bottom: -2px;
    width: 1440px;
  }
}

.page-promo__container {
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.page-promo__inner-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-left: 80px;
  }
}

.page-promo__intro {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-white;
  text-align: center;

  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $base-black;
    text-align: left;

    width: 414px;
    margin-top: 22px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
    margin-bottom: 41px;
  }
}

.page-promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;

  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $base-black;
    text-align: left;

    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.page-promo__inner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 607px;
  }

  @media (min-width: $desktop-width) {
    min-height: 370px;
    padding-left: 85px;
  }
}

.page-promo__img {
  @media (max-width: $mobile-width-only) {
    margin-bottom: -2px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    left: -87px;
    top: -29px;
  }

  @media (min-width: $desktop-width) {
    z-index: 0;
    left: 37%;
    top: -85%;
  }
}

.page-promo__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-white;
  text-align: center;

  background-color: $basic-green;

  width: 100%;
  padding: 11px 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 18px 15px 16px;
    margin-left: -5px;
    width: 244px;
    align-self: flex-start;

    &:hover {
      background-color: $basic-green-2;
    }

    &:active {
      background-color: $basic-green-2;

      color: $basic-shadow-white;
    }
  }

  @media (min-width: $desktop-width) {
  }
}
