.page-footer {
  background-color: $basic_grey;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    width: 100%;
    padding-top: 57px;
  }
}

.page-footer__logo-link {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__logo-link:hover .page-footer__logo {
  opacity: 0.8;
}

.page-footer__logo-link:active .page-footer__logo {
  opacity: 0.6;
}

.page-footer__socials {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 36px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 8px;
  border-top: 1px solid $special-gainsboro;
  border-bottom: 1px solid $special-gainsboro;

  @media (min-width: $tablet-width) {
    border-top: none;
    border-bottom: none;
    justify-content: flex-start;
    padding: 0;
    padding-left: 87px;
  }
}

.page-footer__socials-item {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 26px;
  }
}

.page-footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__social-icon.vk-icon,
.page-footer__social-icon.inst-icon {
  fill: $special-dim-grey;
}

.page-footer__social-icon.fb-icon {
  fill: none;
  stroke: $special-dim-grey;
}

.page-footer__socials-link:hover .vk-icon,
.page-footer__socials-link:hover .inst-icon {
  fill: $basic-green;
}

.page-footer__socials-link:hover .fb-icon {
  stroke: $basic-green;
}

.page-footer__socials-link:active .vk-icon,
.page-footer__socials-link:active .inst-icon {
  opacity: 0.3;
}

.page-footer__socials-link:active .fb-icon {
  opacity: 0.3;
}

.vk-icon {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.inst-icon {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.fb-icon {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 29px;
  }
}

.page-footer__academy-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  margin-bottom: 11px;
  padding-top: 21px;

  &:hover .page-footer__academy-icon {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 163px;
    margin: 0;
    padding: 0;
    padding-bottom: 7px;
  }
}

.page-footer__academy-text {
  font-family: $add-font;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;

  margin: 0;
  padding: 0;
}

.page-footer__academy-icon {
  fill: $special-dim-grey;
}
