.page-main__features {
  margin-bottom: 27px;
}

.page-main__instructions {
  margin-bottom: 42px;
}

.page-main__instructions-item {
  margin-bottom: 20px;
}

.page-main__review-desc {
  margin-bottom: 25px;
}

.page-main__review-desc-list {
  margin-bottom: 25px;
}

.page-main__review-text {
  margin-bottom: 42px;
}

.page-main__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  padding-top: 27px;
}

.page-main__form-page-title {
  margin-bottom: 37px;
}

.page-main__catalog-page-title {
  margin-bottom: 49px;
}

.page-main__lead {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  margin: 0;
}

.page-main__form-page-lead {
  margin-bottom: 39px;
}

.page-main__form-wrap {
  margin-bottom: 48px;
}

.page-main__text-form-container {
  margin-bottom: 47px;
}

.page-main__text-form-input {
  margin-bottom: 11px;
}
