.page-header--with-background {
  background-image:
    url("../../img/promo-good-b-img.png"),
    url("../../img/promo-trans-b.png"),
    url("../../img/promo-cat-b-img.png");
  background-size:
    280px 270px,
    320px 302px,
    320px 302px;
  background-position:
    center 434px,
    center 267px,
    center 267px;
  background-repeat: no-repeat;

  min-height: 548px;
}

@media (min-width: $tablet-width) {
  .page-header--with-background {
    background-image:
      url("../../img/promo-good-b-img-tablet.png"),
      none,
      none;
    background-size:
      709px 609px,
      0 0,
      0 0;
    background-position:
      center 341px,
      0 0,
      0 0;

    min-height: 1050px;
  }
}

.page-header__upper-row-wrap {
  background-color: $basic-white;
}

@media (min-width: $tablet-width) {
  .page-header__upper-row-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }
}

.page-header__upper-inner-wrap {
  display: flex;
  justify-content: flex-start;
  min-height: 66px;
}

.page-header__logo-icon {
  margin-right: 56px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-icon {
    margin-right: 0;
  }
}

.page-header__toggle {
  background-color: $basic-white;

  border: none;
}

@media (min-width: $tablet-width) {
  .page-header__toggle {
    display: none;
  }
}
