.review {
  background-color: #eaeaea;
}

.review__title {
  font-weight: 400;
  font-size: 36px;

  @include no-indent();
}

.review__desc {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @include no-indent();
}

.review__desc-list {
  @include no-indent();
}

.review__term {
  font-size: 24px;
}

.review__detail {
  font-family: $add-font;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;

  @include no-indent();
}

.review__text {
  font-size: 14px;
  text-transform: uppercase;

  @include no-indent();
}

.slider__state {
  font-family: $base-font;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}
