.features__title {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.features__desc {
  font-family: $add-font;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.features__link {
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}
