@mixin page-promo-text($font-size: 14px, $register: uppercase, $text-color: $basic-white) {
  font-size: $font-size;
  text-transform: $register;
  color: $text-color;
}

@mixin no-indent($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}

@mixin input {
  font-family: $base-font;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;

  &::placeholder {
    font-family: $base-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: $special-dark-grey;
  }
}
