.page-header--with-background {
  background-image:
    url("../img/promo-good-b-img.png"),
    url("../img/promo-trans-b.png"),
    url("../img/promo-cat-b-img.png");
  background-repeat: no-repeat;
  background-size:
    280px 270px,
    320px 302px,
    320px 302px;
}

.main-nav__link {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}
