// Fonts

$add-font: "Arial", sans-serif;
$base-font: "Oswald", $add-font;

// Colors

$special-dark-grey: #444444;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-dim-grey: #666666;
$basic-white: #ffffff;
$base-black: #000000;
$special-black: #111111;
$special-gainsboro: #d9d9d9;
$special-flamingo: #f06351;
$special-golden-poppy: #fdc305;
$special-shadow-panache: rgba(104, 183, 56, 0.15);
$special-whisper: #e5e5e5;
$special-darker-whisper: #eaeaea;
