.page-main {
  overflow: hidden;
}

.page-main__form {
  min-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.page-main__features {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.page-main__instructions {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
